*{
    box-sizing: border-box;
}

html,
body{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .first-div{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr;
    grid-template-rows: 1fr 2fr 3fr;
    grid-gap: 4px;
}

.second-div{
    background-color: red;
    padding: 10px;
}

.grid-item1{
     /* height: 150px; */
     /* grid-row: 1/3; */
}

.grid-item2{
    /* grid-column: 2/4; */
    grid-column: 2/5;
    grid-row: 1/3;
    
}

.grid-item4{
    /* grid-column: 2/4; */
}

.item8{
    grid-row: 3/3;
    grid-column: 1/4;
}

.item9{
    grid-row: 3/6;
}
 */

.nav-container{
    background: gray;
    padding: 2px 0px;
    /* position: fixed; */
    width: 100%;

}

.colums{
    margin: 10px;
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
}

.top-nav ul{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.top-nav ul li{
    list-style-type: none;
}

.top-nav ul a{
    text-decoration: none;
    color: black;
    padding: 0px;
}

.second-div-container{
    margin: 10px;
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
}

.grid-item{
    border-bottom: 2px solid gray;
}

.container{
    display: grid;
    gap: 5px;
    grid-template-rows: 2em 5em 2em;
    grid-template-areas: "header header header header"
                            "side side main main"
                            "footer footer footer footer";
}

.grid-con{
    padding: 5px;
    text-align: center;
}

.con1{
    background: red;
    grid-area: header;
}

.con2{
    background: rgb(255, 0, 242);
    grid-area: main;
}

.con3{
    background: rgb(51, 255, 0);
}

.con4{
    background: rgb(38, 0, 255);
    grid-area: footer;
}

.img{
    width: 100%;
}


@media screen and (min-width: 55em) {
    .colums{
        grid-auto-flow: column;
        /* grid-template-columns: 1fr 1fr 1fr; */
    }

    .top-nav ul{
        grid-auto-flow: column;
    }

    .second-div-container{
        grid-auto-flow: column;
       
    }

    .grid-item{
        border-bottom: none;
    }

    .container{
        grid-template-rows: 3em 12em 2em;
    }
}

